include variables
doctype html
html(lang="ru")
	include includes/head
	body
		include includes/header
		include includes/carousel
		include includes/block1
		include includes/block2
		include includes/block3
		include includes/block4
		include includes/svoyamkodor
		include includes/doverie
		include proizvod
		include includes/maps
		include includes/footer
		include includes/modal3d
		
		include includes/scripts
		include includes/yandex
		