div.block__proizvod
	div.block__proizvod__wrapper
		div.container-fluid
			div.row.block__proizvod__title
				div.col-xs-12
					h2.text-center
						|ПРОИЗВОДСТВЕННАЯ ПРОГРАММА ХОЛДИНГА АМКОДОР
					img(src="assets/templates/leadingpage/images/pp_dialer.png" alt="ХОЛДИНГ «АМКОДОР»")
			div.row
				div.col-xs-12
					div.proizvod__items.text-center
						div.col-xs-12
							include includes/proizvod1
							include includes/proizvod2
							include includes/proizvod3
							include includes/proizvod4
							include includes/proizvod5
							include includes/proizvod6
							include includes/proizvod7
							include includes/proizvod8
							include includes/proizvod9
							include includes/proizvod10
							include includes/proizvod_211
							include includes/proizvod_320
							