div.block2
	div.block2__wrapper
		div.container-fluid
			div.row
				div.block__title__tail.text-center.clearfix
					h2.block__title.text-uppercase
						|Кредитование погрузчиков АМКОДОР на ВЫГОДНЫХ УСЛОВИЯХ
				div.text-center.block2__predlojenie
					div.col-lg-4.col-md-4.col-sm-6.block1__item
						div.block1__item__wrapper
							img(src="assets/templates/leadingpage/images/block2_item_1.png" alt="Кредитная ставка от 10% годовых") 
							p.block1__dist.bg_white
								|Кредитная ставка от 10% годовых
					div.col-lg-4.col-md-4.col-sm-6.block1__item
						div.block1__item__wrapper
							img(src="assets/templates/leadingpage/images/block2_item_2.png" alt="Первоночальный взнос 20%") 
							p.block1__dist.bg_white
								|Первоночальный взнос от 20%
					div.col-lg-4.col-md-4.col-sm-6.col-sm-offset-3.block1__item
						div.block1__item__wrapper
							img(src="assets/templates/leadingpage/images/block2_item_3.png" alt="Срок кредитования до 5 лет") 
							p.block1__dist.bg_white
								|Срок кредитования до 5 лет
					div.clearfix
					div.block__button.text-center
						button.btn.btn-primary.button-zvonok(type="button" data-api="КРЕДИТОВАНИЕ ПОГРУЗЧИКОВ АМКАДОР НА ВЫГОДНЫХ УСЛОВИЯХ") УЗНАТЬ ПОДРОБНЕЕ   