div.block4
	div.block4__wrapper.block__bg
		div.container-fluid
			div.block__title__tail.text-center.row
				h2.block__title.text-uppercase.color__c0.col-xs-12 Надежный погрузчик на выгодных условиях!
			div.block4__predlojenie
				div.row
					div.col-xs-12
						div.block4__image_wrapper.clearfix
							div.block4__image.text-center
								img(src="assets/templates/leadingpage/images/tracktor.png" alt="Надежный погрузчик на выгодных условиях!")
						div.block4__list__wrapper
							div.col-lg-6.col-md-6
								h4.block4__list__title
									|Выгодная 
								ul.block4__list
									li
										|Цены в рублях
									li
										|Низкие эксплуатационные расходы
									li
										|Высокий коэффициент рентабельности
									li
										|Единая цена по России
									li
										|Короткий срок окупаемости
									li
										|Льготное кредитование
							div.col-lg-6.col-md-6
								h4.block4__list__title
									|Надежная
								ul.block4__list
									li
										|Производство сертифицировано по мировым стандартам ISO
									li
										|Гарантия от производителя
									li
										|Более 200 единиц погрузчиков уже работают в Пермском крае
				div.row
					div.col-xs-12.block4__list2__wrapper
						div.col-lg-6.col-md-6
							h4.block4__list__title
								|Удобная
							ul.block4__list
								li
									|Эргономичное рабочее место оператора
								li
									|Управление рабочим органом при помощи джойстика
								li
									|Отличная обзорность кабины
								li
									|Проста в обслуживании
								li
									|Не прихотлива в работе
						div.col-lg-6.col-md-6
							h4.block4__list__title
								|Универсальная
							ul.block4__list
								li
									|Универсальные погрузчики АМКОДОР имеют большой перечень быстросменных рабочих органов
								li
									|Успешно эксплуатируются в сельском хозяйстве, дорожном строительстве, коммунальных работах и других отраслях в Пермском крае
				div.row
					div.col-xs-12
						div.block__button.text-center
							button.btn.btn-primary.button-zvonok(type="button" data-api="ОФОРМИТЬ ЗАЯВКУ")
								|ОФОРМИТЬ ЗАЯВКУ