div.block3
	div.block3__wrapper.block__bg
		div.container-fluid
			div.row
				div.block__title__tail.text-center.clearfix
					h2.block__title.text-uppercase КВАЛИФИЦИРОВАННОЕ СЕРВИСНОЕ ОБСЛУЖИВАНИЕ
				div.block3__predlojenie
					ul.block3__list
						li
							|Обслуживание по Пермскому краю
						li
							|ТО на территории Заказчика
						li
							|5 выездных бригад
						li
							|Собственная ремонтная база
						li
							|Более 10 000 наименований запчастей
						li
							|Опытные механники
					div.block__button.text-center
						button.btn.btn-primary.button-zvonok(type="button" data-api="ОФОРМИТЬ ЗАЯВКУ НА ТО")
							|ОФОРМИТЬ ЗАЯВКУ НА ТО
