div.container-fluid
	div.row.bg_white
		h1.title-lid.text-center.col-xs-12
			span
				|Фронтальные погрузчики
				| 
			span 
				|АМКОДОР – СЕГОДНЯ и ВСЕГДА!
		div.clearfix
		div.carousel-wrapper
			div.carousel.slide(data-ride="carousel" id="carousel")
				ol.carousel-indicators
					li.active(data-target="#carousel" data-slide-to="0")
					li(data-target="#carousel" data-slide-to="1")
					li(data-target="#carousel" data-slide-to="2")
					li(data-target="#carousel" data-slide-to="3")
					li(data-target="#carousel" data-slide-to="4")
					li(data-target="#carousel" data-slide-to="5")
				div.carousel-inner(role="listbox")
					div.item.active
						img(src="assets/templates/leadingpage/images/slide_0001.jpg" alt="")
					div.item
						img(src="assets/templates/leadingpage/images/slide_0002.jpg" alt="")
					div.item
						img(src="assets/templates/leadingpage/images/slide_0003.jpg" alt="")
					div.item
						img(src="assets/templates/leadingpage/images/slide_0004.jpg" alt="")
					div.item
						img(src="assets/templates/leadingpage/images/slide_0005.jpg" alt="")
					div.item
						img(src="assets/templates/leadingpage/images/slide_0006.jpg" alt="")
			div.bg_white
				br
				br
			