div.block__doverie
	div.block__doverie__wrapper
		div.container-fluid
			div.row.block__title__tail.text-center
				h2.block__title.text-uppercase.color__c0.col-xs-12
					|НАМ ДОВЕРЯЮТ:
			div.row.block__clients
				div.block__clients__item.pull-left.text-center
					img(src="assets/templates/leadingpage/images/client_01.png" alt="")
				div.block__clients__item.pull-left.text-center
					img(src="assets/templates/leadingpage/images/client_02.png" alt="")
				div.block__clients__item.pull-left.text-center
					img(src="assets/templates/leadingpage/images/client_03.png" alt="")
				div.block__clients__item.pull-left.text-center
					img(src="assets/templates/leadingpage/images/client_04.png" alt="")
				div.block__clients__item.pull-left.text-center
					img(src="assets/templates/leadingpage/images/client_05.png" alt="")
			div.block__doverie__clients
				h3.title.col-lg-xs-12.text-center
					|... и еще более
					br
					|3 000 предприятий Пермского края и других регионов РФ
			div.clearfix
	div.clearfix