footer.footer
	.container-fluid
		.col-xs-12
			.col-md-4.col-md-push-8
				p.footer__logo
					img.img-responsive(src='assets/templates/leadingpage/images/skat.png', alt='ООО «СКАТ»')
			.col-md-3.col-md-push-1
				p.footer__addres г. Пермь, ул. Окулова 75, корпус 8
			.col-md-5.col-md-pull-7
				dl.dl-horizontal.footer_phones
					dt +7 (342) 270-00-10 доб. 1
					dd - отдел спецтехники
					dt +7 (342) 270-00-10 доб. 2
					dd - отдел запчастей
					dt +7 (342) 270-00-10 доб. 3
					dd - отдел по ремонту спецтехники
				p  
			.clearfix
			.col-lg-12
				.row(style='position:relative')
					.col-sm-4.col-sm-push-4.col-xs-12
						nav.text-center
							a(href='https://www.skat59.ru/', target='_blank') Главная
							|  
							a(href='https://www.skat59.ru/index/catalogue.html', target='_blank') Коталог
							|  
							a(href='https://www.skat59.ru/index/about_company/contacts.html', target='_blank') Контакты
						p.footer__copy__skat.text-center ООО «СКАТ» © 2015
					.col-sm-4.col-sm-pull-4.col-xs-12
						.skat__plusone
							.g-plusone(data-size='standard (bubble)', style='display:table;margin-bottom:10px;margin-left:auto;margin-right:auto')
					.col-sm-4.col-xs-12  
			.clearfix
			.text-right
				a.studionions(href='http://www.studionions.com/', target='_blank', rel='popover', data-title='STUDIONIONS & ProjectSoft', data-content='Создание, поддержка и продвижение сайтов.', data-placement='top', title='Создание, поддержка и продвижение сайтов') Сделано в STUDIONIONS
				span#popover
			.clearfix
