head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="yandex-verification" content="482ffe6e0d3181be")
	meta(name="google-site-verification" content="ie0IUJHxVYPAeoWXXL-a8c2cLYpCVNvOUALQr5zKWu8")
	title Купить фронтальный погрузчик АМКОДОР на выгодных условиях | ООО «СКАТ» - первый на рынке спецтехники по Пермскому краю
	meta(name="title" content="")
	meta(name="description" content="")
	meta(property="og:title" content="")
	meta(property="og:description" content="")
	
	link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
	link(rel="apple-touch-icon" href="apple-touch-icon.png")
	link(rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png")
	link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800")
	link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese")
	link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic")
	link(href="https://plus.google.com/117835748354355612092" rel="publisher")
	script(type="text/javascript" async defer="defer" src="https://apis.google.com/js/platform.js?publisherid=117835748354355612092")
	link(rel="stylesheet" type="text/css" href="assets/templates/leadingpage/css/main.css")
	