header.bg_white
	div.header-line
		div.header-line__top
	div.container-fluid
		div.row
			nav.navbar.navbar-default
				div.col-xs-12
					div.navbarheader.text-center
						div.col-lg-12
							img.skat(src="templates/studionions/images/skat.png" alt="ООО «СКАТ»")
							img.amkodor(src="templates/studionions/images/dialer.png" alt="ООО «СКАТ» Официальный дилер «АМКОДОР»")
							div.zakaz.text-center
								p.phone
									+7(342)270-00-10 доб. 1
								button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ ЗВОНОК")
									ЗАКАЗАТЬ ЗВОНОК
						div.clearfix