#modal3D.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal3D', aria-hidden='true')
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4.modal-title.text-center
			.modal-body.text-center
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
.overlay_site
	div