.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНЫМ ПОГРУЗЧИКАМ
			br
			|АМКОДОР 332С4 И АМКОДОР 332С4-01
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_001.png', alt='')
						h4.title Отделитель силоса
							br
							|342С.45.45.000
						div.intro
							dl
								dt Вместимость отделителя силоса
								dd 2,5м
									sup 3
							dl
								dt Ширина режущей части
								dd 2000мм
							dl
								dt Высота раскрытия
								dd 1300мм
							dl
								dt Габариты, мм
								dd 1800х2250х1200
							dl
								dt Масса
								dd 1550кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_002.png', alt='')
						h4.title Разрезчик рулонов
							br
							|332С.45.47.000
						div.intro
							dl
								dt Вес разрезаемого рулона, не более
								dd 1500кг
							dl
								dt Диаметр разрезаемого рулона, не более
								dd 1500кг
							dl
								dt Габариты
								dd 1550х1925х1825
							dl
								dt Масса
								dd 720кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_003.png', alt='')
						h4.title Захват для рулонов
							br
							|332С.45.31.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 800кг
							dl
								dt Минимальный диаметр захватываемого рулона
								dd 1000мм
							dl
								dt Ширина раскрытия захвата
								dd 2000мм
							dl
								dt Габариты, мм
								dd 1740х2410х900
							dl
								dt Масса
								dd 400кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_004.png', alt='')
						h4.title Щетка
							br
							|342С.57.00.000-01
						div.intro
							dl
								dt Ширина очищаемой полосы
								dd 2730мм
							dl
								dt Угол поворота, градус
								dd 35
							dl
								dt Управление поворотом щётки
								dd Гидравлическое
							dl
								dt Габариты, мм
								dd 1850х3680х1280
							dl
								dt Масса
								dd 1600кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_005.png', alt='')
						h4.title Вилы грузовые
							br
							|АДЗ-342С.58.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 5000кг
							dl
								dt Ширина по опорным лапам, мм
								dd 310-1200
							dl
								dt Шаг перемещения лап
								dd 40мм
							dl
								dt Габариты, мм
								dd 2010х1240х1080
							dl
								dt Масса
								dd 530кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_006.png', alt='')
						h4.title Вилы для рулонов
							br
							|332С.52.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 2000кг
							dl
								dt Габариты, мм
								dd 1330х1368х1020
							dl
								dt Масса
								dd 240кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_007.png', alt='')
						h4.title Вилы сельскохозяйственные с прижимом 
							br
							|332С.53.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 2000кг
							dl
								dt Максимальная высота при раскрытом зеве
								dd 1300мм
							dl
								dt Габариты, мм
								dd 1450х2400х1160
							dl
								dt Масса
								dd 1100кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_008.png', alt='')
						h4.title Стрела крановая безблочная
							br
							|АДЗ-342С.54.01.000
						div.intro
							dl
								dt Грузоподъёмность при мин/макс вылете крюка, кг
								dd 2000/1200
							dl
								dt Габариты, мм
								dd 3800ч1240х900
							dl
								dt Масса
								dd 450кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_009.png', alt='')
						h4.title Ковш для корнеплодов
							br
							|332С.64.00.000
						div.intro
							dl
								dt Вместимость ковша
								dd 3,2м
									sup 3
							dl
								dt Удельный вес погружаемого материала, т/м
									sup 3
									|, не более
								dd 0,75
							dl
								dt Габариты, мм
								dd 1479х2700х1390
							dl
								dt Масса
								dd 920кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_010.png', alt='')
						h4.title Стрела телескопическая
							br
							|332С.54.00.000
						div.intro
							dl
								dt Грузоподъёмность при мин/макс вылете крюка, кг
								dd 1350/1150
							dl
								dt Угол поворота стрелы, градус
								dd 24
							dl
								dt Ход выдвижения секции стрелы
								dd 900мм
							dl
								dt Габариты
								dd 2595х1130х1220
							dl
								dt Масса
								dd 750гк
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_011.png', alt='')
						h4.title Отвал для снега
							br
							|342С.52.00.000
						div.intro
							dl
								dt Ширина очищаемой полосы
								dd 2660мм
							dl
								dt Угол поворота отвала, градус
								dd 35
							dl
								dt Управление поворотом отвала
								dd гидравлическое
							dl
								dt Габариты, мм
								dd 1330х3250х1230
							dl
								dt Масса
								dd 1100кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_012.png', alt='')
						h4.title Захват челюстной
							br
							|332С.55.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 3400кг
							dl
								dt Диаметр охвата, мм
								dd 260-850
							dl
								dt Габариты, мм
								dd 1550х2090х1480
							dl
								dt Масса
								dd 1000кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_013.png', alt='')
						h4.title Вилы
							br
							|332С.45.55.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 1000кг
							dl
								dt Ширина в раскрытом положении
								dd 1880мм
							dl
								dt Габариты, мм
								dd 1870х1220х1070
							dl
								dt Масса
								dd 385кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_014.png', alt='')
						h4.title Отвал v-образный для cнега
							br
							|332С.45.61.000
						div.intro
							dl
								dt Ширина очищаемой полосы
								dd 2750мм
							dl
								dt Угол поворота крыла отвала, градус
								dd 30
							dl
								dt Управление поворотом крыла отвала
								dd гидравлическое
							dl
								dt Габариты, мм
								dd 1150х2750х1000
							dl
								dt Масса
								dd 830кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_015.png', alt='')
						h4.title Ковш для камней
							br
							|332C.45.15.000
						div.intro
							dl
								dt Вместимость ковша
								dd 1,8м
									sup 3
							dl
								dt Габариты, мм
								dd 1725х2500х1065
							dl
								dt Масса
								dd 930кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_016.png', alt='')
						h4.title Отвал бульдозерный
							br
							|АДЗ-342С.03.00.000
						div.intro
							dl
								dt Максимальное заглубление
								dd 150мм
							dl
								dt Габариты, мм
								dd 500х2620х1150
							dl
								dt Масса
								dd 580кг
		.row
			.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-sm-offset-4.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_017.png', alt='')
						h4.title Подъемник вилочный
							br
							|332С.45.43.000
						div.intro
							dl
								dt Длина в открытом положении
								dd 3425мм
							dl
								dt Высота в открытом положении
								dd 3960мм
							dl
								dt Габариты, мм
								dd 2540х1990х2635
							dl
								dt Масса
								dd 980кг
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНЫМ ПОГРУЗЧИКАМ АМКОДОР 332С4 И АМКОДОР 332С4-01') СДЕЛАТЬ ЗАКАЗ