.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ
			br
			|АМКОДОР 352С-02
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_001.png', alt='')
						h4.title Отделитель силоса
							br
							|342С.45.45.000
						div.intro
							dl
								dt Вместимость отделителя силоса
								dd 2,5м
									sup 3
							dl
								dt Ширина режущей части
								dd 2000мм
							dl
								dt Высота раскрытия
								dd 2000мм
							dl
								dt Габариты, мм
								dd 1800х2250х1200
							dl
								dt Масса
								dd 1550кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_002.png', alt='')
						h4.title Разрезчик рулонов
							br
							|332С.45.47.000
						div.intro
							dl
								dt Вес разрезаемого рулона, не более
								dd 1500кг
							dl
								dt Диаметр разрезаемого рулона, не более
								dd 1500кг
							dl
								dt Габариты
								dd 1550х1925х1825
							dl
								dt Масса
								dd 720кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_003.png', alt='')
						h4.title Захват для рулонов
							br
							|332С.45.31.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 800кг
							dl
								dt Минимальный диаметр захватываемого рулона
								dd 1000мм
							dl
								dt Ширина раскрытия захвата
								dd 2000мм
							dl
								dt Габариты, мм
								dd 1740х2410х900
							dl
								dt Масса
								dd 400кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_004.png', alt='')
						h4.title Щетка
							br
							|342С.57.00.000-01
						div.intro
							dl
								dt Ширина очищаемой полосы (повёрнуто)
								dd 2730мм
							dl
								dt Угол поворота, градус
								dd 35
							dl
								dt Управление поворотом щётки
								dd гидравлическое
							dl
								dt Габариты, мм
								dd 1850х3680х1280
							dl
								dt Масса
								dd 1600кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_005.png', alt='')
						h4.title Вилы грузовые
							br
							|АДЗ-342С.58.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 5000кг
							dl
								dt Ширина по опорным лапам, мм
								dd 310-1200
							dl
								dt Шаг перемещения лап 
								dd 40мм
							dl
								dt Габариты, мм
								dd 2010х1240х1080
							dl
								dt Масса
								dd 530кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_006.png', alt='')
						h4.title Вилы для рулонов
							br
							|332С.52.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 2000кг
							dl
								dt Габариты, мм
								dd 1330х1368х1020
							dl
								dt Масса
								dd 240кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_007.png', alt='')
						h4.title Вилы с прижимом
							br
							|352С.45.41.000
						div.intro
							dl
								dt Геометрическая вместимость
								dd 2,9м
									sup 3
							dl
								dt Высота открытия прижима
								dd 1610мм
							dl
								dt Габариты, мм
								dd 1820х2800х1260
							dl
								dt Масса
								dd 1480кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_008.png', alt='')
						h4.title Стрела крановая безблочная
							br
							|АДЗ-342С.54.01.000
						div.intro
							dl
								dt Грузоподъёмность при мин/сред/макс вылете крюка, кг
								dd 2000/1500/1200
							dl
								dt Габариты, мм
								dd 3800х1240х900
							dl
								dt Масса
								dd 450кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_009.png', alt='')
						h4.title Стрела телескопическая
							br
							|332С.54.00.000
						div.intro
							dl
								dt Грузоподъёмность при мин/макс вылете крюка, кг
								dd 1350/1150
							dl
								dt Угол поворота стрелы, градус
								dd 24
							dl
								dt Ход видвижной секции стрелы
								dd 900мм
							dl
								dt Габариты, мм
								dd 2595х1130х1220
							dl
								dt Масса
								dd 750кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_010.png', alt='')
						h4.title Отвал для снега 
							br
							|342С.52.00.000
							br
							sup 342С.52.00.000-01 - с увеличенной шириной
						div.intro
							dl
								dt Ширина очищаемой полосы (повёрнуто)
								dd 2660мм
							dl
								dt Угол поворота отвала, градус
								dd 35
							dl
								dt Управление поворотом отвала
								dd гидравлическое
							dl
								dt Габариты, мм
								dd 1330х3250х1230
							dl
								dt Масса
								dd 1100кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_011.png', alt='')
						h4.title Ковш с прижимом
							br
							|352С.45.05.010
						div.intro
							dl
								dt Геометрическая вместимость
								dd 2,9м
									sup 3
							dl
								dt Высота открытия прижима
								dd 1560мм
							dl
								dt Габариты, мм
								dd 1820х2800х1260
							dl
								dt Масса
								dd 1630кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_012.png', alt='')
						h4.title Захват челюстной
							br
							|342С.55.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 6000кг
							dl
								dt Диаметр охвата, мм
								dd 600-1100
							dl
								dt Габариты, мм
								dd 1570х2450х1620
							dl
								dt Масса
								dd 1350кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_013.png', alt='')
						h4.title Захват челюстной с выталкивателем
							br
							|342С.65.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 6000кг
							dl
								dt Диаметр охвата, мм
								dd 200-1300
							dl
								dt Габариты, мм
								dd 1950х1460х1860
							dl
								dt Масса
								dd 1560кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_014.png', alt='')
						h4.title Захват челюстной
							br
							|342C.66.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 6000кг
							dl
								dt Диаметр охвата, мм
								dd 200-1300
							dl
								dt Габариты, мм
								dd 1950х1460х1860
							dl
								dt Масса
								dd 1270кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_015.png', alt='')
						h4.title Вилы складывающиеся
							br
							|352С.45.42.000
						div.intro
							dl
								dt Ширина в раскрытом положении
								dd 4500мм
							dl
								dt Габариты, мм
								dd 1500х2850х1715
							dl
								dt Масса
								dd 1280кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_016.png', alt='')
						h4.title Отвал для свеклы
							br
							|352С.45.61.000
						div.intro
							dl
								dt Размер колеса, мм
								dd 320х160
							dl
								dt Габариты
								dd 2950х5000х1400
							dl
								dt Масса
								dd 2050кг
		.row
			.col-lg-12.col-md-12.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_017.png', alt='')
						h4.title Подъемник вилочный
							br
							|332С.45.43.000
						div.intro
							dl
								dt Длина в открытом положении
								dd 3425мм
							dl
								dt Высота в открытом положении
								dd 3960мм
							dl
								dt Габариты, мм
								dd 2540х1990х2635
							dl
								dt Масса
								dd 980кг
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_018.png', alt='')
						h4.title Отвал
							br
							|352C.45.64.000
						div.intro
							dl
								dt Габариты, мм
								dd 765х3080х1505
							dl
								dt Масса
								dd 915кг
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/352c-02/organs_019.png', alt='')
						h4.title Отвал V-образный для снега
							br
							|352C.45.65.000
						div.intro
							dl
								dt Ширина очищаемой полосы, мм
								dd 2900-3700
							dl
								dt Угол поворота крыла отвала, градус
								dd ±30
							dl
								dt Управление поворотом отвала
								dd гидравлическое
							dl
								dt Габариты, мм
								dd 1470х3500х1500
							dl
								dt Масса
								dd 1980кг
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ АМКОДОР 352С-02') СДЕЛАТЬ ЗАКАЗ