.proizvod__item.col-xs-12
	h3.proizvod__title
		span МАШИНЫ НА БАЗЕ ТРАКТОРОВ МТЗ
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_050.png', alt='АМКОДОР 702ЕА Экскаватор-погрузчик Объём экскават. ковша 0.18 м3')
						h4.title АМКОДОР
						p.massa 1 т
						p.intro
							| Экскаватор-погрузчик
							br
							| Объём экскават. ковша 0.18 м
							sup 3
							| /p>
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_051.png', alt='АМКОДОР 702ЕВ Экскаватор Объём экскават. ковша 0.18 м3')
						h4.title АМКОДОР 702ЕВ
						p.massa 1 т
						p.intro
							| Экскаватор
							br
							| Объём экскават. ковша 0.18 м
							sup 3
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_052.png', alt='АМКОДОР 134 Погрузчик Объём экскават. ковша 0.18 м3')
						h4.title АМКОДОР 134
						p.massa 1 т
						p.intro
							| Погрузчик
							br
							| Объём экскават. ковша 0.18 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_053.png', alt='АМКОДОР 703М Экскаватор-погрузчик Объём экскават. ковша 0.54 м3')
						h4.title АМКОДОР 703М
						p.massa 1 т
						p.intro
							| Экскаватор-погрузчик
							br
							| Объём экскават. ковша 0.54 м
							sup 3
		.row
			.col-lg-6.col-md-offset-3.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_054.png', alt='АМКОДОР 8047А-01 Машина фрезерная Объём погруз. ковша 0.54 м3')
						h4.title АМКОДОР 8047А-01
						p.massa 1 т
						p.intro
							| Машина фрезерная
							br
							| Объём погруз. ковша 0.54 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_055.png', alt='АМКОДОР К-78М Касилка навесная Производительность 0.3 га/ч')
						h4.title АМКОДОР К-78М
						p.massa Касилка навесная
						p.intro Производительность 0.3 га/ч
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='МАШИНЫ НА БАЗЕ ТРАКТОРОВ МТЗ') СДЕЛАТЬ ЗАКАЗ
