.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ
			br
			|АМКОДОР 320СЕ
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_001.png', alt='')
						h4.title 
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_002.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_003.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_004.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_005.png', alt='')
						h4.title 
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_006.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_007.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_008.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
		.row
			.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_009.png', alt='')
						h4.title 
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_010.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/320ce/organs_011.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ АМКОДОР 320СЕ') СДЕЛАТЬ ЗАКАЗ