.proizvod__item.col-xs-12
	h3.proizvod__title
		span АВТОПОГРУЗЧИКИ ВИЛОЧНЫЕ И ЭЛЕКТРОТЕЛЕЖКИ ПЛАТФОРМЕННЫЕ
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_044.png', alt='АМКОДОР ЕР20 Электротележка платформенная')
						h4.title АМКОДОР ЕР20
						p.massa Электротележка платформенная
						p.intro 2 - 3 т
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_045.png', alt='АМКОДОР ЕР30 Электротележка платформенная')
						h4.title АМКОДОР ЕР30
						p.massa Электротележка платформенная
						p.intro 2 - 3 т
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_046.png', alt='АМКОДОР Е16 Электропогрузчик вилочный Высота подъёма груза 3.3 м')
						h4.title АМКОДОР Е16
						p.massa 1,6 т
						p.intro
							| Электропогрузчик вилочный
							br
							| Высота подъёма груза 3.3 м
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_047.png', alt='АМКОДОР Е25 Электропогрузчик вилочный Высота подъёма груза 3.3 м')
						h4.title АМКОДОР Е25
						p.massa 2,5 т
						p.intro
							| Электропогрузчик вилочный
							br
							| Высота подъёма груза 3.3 м
		.row
			.col-lg-6.col-md-offset-3.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_048.png', alt='АМКОДОР 430 Автопогрузчик вилочный Высота подъёма груза 3.3 м')
						h4.title АМКОДОР 430
						p.massa 3 т
						p.intro
							| Автопогрузчик вилочный
							br
							| Высота подъёма груза 3.3 м
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_049.png', alt='АМКОДОР 451А Автопогрузчик вилочный Высота подъёма груза 3.3 м')
						h4.title АМКОДОР 451А
						p.massa 5 т
						p.intro
							| Автопогрузчик вилочный
							br
							| Высота подъёма груза 3.3 м
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='АВТОПОГРУЗЧИКИ ВИЛОЧНЫЕ И ЭЛЕКТРОТЕЛЕЖКИ ПЛАТФОРМЕННЫЕ') СДЕЛАТЬ ЗАКАЗ
