.proizvod__item.col-xs-12
	h3.proizvod__title.text-center
		span ПОГРУЗЧИКИ УНИВЕРСАЛЬНЫЕ, ПОГРУЗЧИКИ ФРОНТАЛЬНЫЕ ОДНОКОВШОВЫЕ
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_001.png', alt='АМКОДОР 211Е Погрузчик с бортовым поворотом Объём ковша 0.59 м3')
						h4.title АМКОДОР 211Е
						p.massa 1,2 т
						p.intro
							|Погрузчик с бортовым поворотом
							br
							|Объём ковша 0.59 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_002.png', alt='АМКОДОР 320 Объём ковша 1.15 м3')
						h4.title АМКОДОР 320
						p.massa 2 т
						p.intro
							|Объём ковша 1.15 м
							sup 3
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_003.png', alt='АМКОДОР 320СЕ Объём ковша 1.1 м3')
						h4.title АМКОДОР 320СЕ
						p.massa 2 т
						p.intro
							|Объём ковша 1.1 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_004.png', alt='АМКОДОР 325С Объём ковша 1.4 м3')
						h4.title АМКОДОР 325С
						p.massa 2,5 т
						p.intro
							|Объём ковша 1.4 м
							sup 3
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_005.png', alt='АМКОДОР 330СЕ Объём ковша 1.65 м3')
						h4.title АМКОДОР 330СЕ
						p.massa 3,4 т
						p.intro
							|Объём ковша 1.65 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_006.png', alt='АМКОДОР 332С4 Объём ковша 1.93')
						h4.title АМКОДОР 332С4
						p.massa 3,4 т
						p.intro
							|Объём ковша 1.9
							sup 3
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_007.png', alt='АМКОДОР 340СЕ Объём ковша 2.3 м3')
						h4.title АМКОДОР 340СЕ
						p.massa 4 т
						p.intro
							|Объём ковша 2.3 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_008.png', alt='АМКОДОР 342С4 Объём ковша 2.3 м3')
						h4.title АМКОДОР 342С4
						p.massa 3,8 - 4 т
						p.intro
							|Объём ковша 2.3 м
							sup 3
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_009.png', alt='АМКОДОР 350С Объём ковша 3.0 м3')
						h4.title АМКОДОР 350С
						p.massa 4,7 - 5 т
						p.intro
							|Объём ковша 3.0 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_010.png', alt='АМКОДОР 352 Объём ковша 2.6 м3')
						h4.title АМКОДОР 352
						p.massa 4,7 - 5 т
						p.intro
							|Объём ковша 2.6 м
							sup 3
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_011.png', alt='АМКОДОР 371А Объём ковша 3.8 м3')
						h4.title АМКОДОР 371А
						p.massa 7 т
						p.intro
							|Объём ковша 3.8 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_012.png', alt='АМКОДОР 527 Погрузчик с телескопической стрелой Высота подъёма 7 м')
						h4.title АМКОДОР 527
						p.massa 2 т
						p.intro
							|Погрузчик с телескопической стрелой
							br
							|Высота подъёма 7 м
		.row
			.col-xs-12
				.row
					.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_013.png', alt='АМКОДОР 732 Экскаватор-погрузчик Объём экскават. ковша 3.8 м3')
						h4.title АМКОДОР 732
						p.massa 2,1 т
						p.intro
							|Экскаватор-погрузчик
							br
							|Объём экскават. ковша 3.8 м
							sup 3
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='ПОГРУЗЧИКИ УНИВЕРСАЛЬНЫЕ, ФРОНТАЛЬНЫЕ ОДНОКОВШОВЫЕ') СДЕЛАТЬ ЗАКАЗ