.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ С ТЕЛЕСКОПИЧЕСКОЙ СТРЕЛОЙ
			br
			|АМКОДОР 527
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_001.png', alt='')
						h4.title Ковш зерновой
							br
							|320.45.02.000
						div.intro
							dl
								dt Номинальная вместимость ковша
								dd 1,9м
									sup 3
							dl
								dt Удельная масса погружаемого материала при мин/макс вылете стрелы, т/м
									sup 3
								dd 1,18/0,47
							dl
								dt Габариты, мм
								dd 1300х2300х1150
							dl
								dt Масса
								dd 425кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_002.png', alt='')
						h4.title Ковш двухчелюстной
							br
							|527.52.00.000-Б
						div.intro
							dl
								dt Номинальная вместимость ковша
								dd 0,85м
									sup 3
							dl
								dt Удельная масса погружаемого материала при мин/макс вылете стрелы, т/м
									sup 3
								dd 2,5/0,9
							dl
								dt Габариты, мм
								dd 950х2390х905
							dl
								dt Масса
								dd 580кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_003.png', alt='')
						h4.title Захват
							br
							|527.59.21.000-А
						div.intro
							dl
								dt Грузоподъёмность
								dd 800кг
							dl
								dt Ширина раскрытия
								dd 630мм
							dl
								dt Габариты, мм
								dd 2865х1400х1100
							dl
								dt Масса
								dd 450кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_004.png', alt='')
						h4.title Ковш с захватом
							br
							|527.57.00.000
						div.intro
							dl
								dt Грузоподъёмность при мин/макс вылете стрелы, кг
								dd 2500/900
							dl
								dt Габариты, мм
								dd 1040х2450х1035
							dl
								dt Масса
								dd 630кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_005.png', alt='')
						h4.title Вилы с захватом
							br
							|527.54.00.000
						div.intro
							dl
								dt Грузоподъёмность при мин/макс вылете стрелы, кг
								dd 2500/900
							dl
								dt Габариты, мм
								dd 1220х2090х900
							dl
								dt Масса
								dd 560кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_006.png', alt='')
						h4.title Захват для рулонов
							br
							|АДЗ-527.45.31.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 800кг
							dl
								dt Минимальный диаметр захватываемого рулона
								dd 1000мм
							dl
								dt Ширина раскрытия захвата
								dd 2000мм
							dl
								dt Габариты, мм
								dd 1740х2410х900
							dl
								dt Масса
								dd 400кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_007.png', alt='')
						h4.title Крюк грузовой
							br
							|527.56.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 2000кг
							dl
								dt Габариты, мм
								dd 945х1185х575
							dl
								dt Масса
								dd 130кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_008.png', alt='')
						h4.title Захват для рулонов
							br
							|527.53.00.000-Б1
						div.intro
							dl
								dt Грузоподъёмность при мин/макс вылете стрелы, кг
								dd 2000/650
							dl
								dt Диаметр охватываемого рулона, мм
								dd 800-1800
							dl
								dt Габариты, мм
								dd 2020х1400х710
							dl
								dt Масса
								dd 340кг
		.row
			.col-lg-6.col-md-6.col-xs-12.col-md-offset-3
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_009.png', alt='')
						h4.title Вилы грузовые
							br
							|525.58.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 2000кг
							dl
								dt Ширина по опорным лапам, мм
								dd 270-900
							dl
								dt Шаг перемещения лап
								dd 40
							dl
								dt Габариты, мм
								dd 1610х1170х890
							dl
								dt Масса
								dd 300кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_010.png', alt='')
						h4.title Вилы универсальные
							br
							|527.55.00.000
						div.intro
							dl
								dt Грузоподъёмность при мин/макс вылете стрелы, кг
								dd 2500/900
							dl
								dt Габариты, мм
								dd 1220х2100х1070
							dl
								dt Масса
								dd 600кг
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ С ТЕЛЕСКОПИЧЕСКОЙ СТРЕЛОЙ АМКОДОР 527') СДЕЛАТЬ ЗАКАЗ