.proizvod__item.col-xs-12
	h3.proizvod__title
		span МАШИНЫ ЛЕСОПРОМЫШЛЕННОГО КОМПЛЕКСА
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_032.png', alt='АМКОДОР 2531 - 2541 Харвестер Харвестерная головка 18 RH Харвестерная головка 20 RH II')
						h4.title АМКОДОР 2531 - 2541
						p.massa Харвестер Харвестерная головка 18 RH
						p.intro Харвестерная головка 20 RH II
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_033.png', alt='АМКОДОР 2551 Харвестер Харвестерная головка 25 RH')
						h4.title АМКОДОР 2551
						p.massa Харвестер
						p.intro Харвестерная головка 25 RH
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_034.png', alt='АМКОДОР 2631 Форвардер Вылет стрелы 8.2 м')
						h4.title АМКОДОР 2631
						p.massa Форвардер
						p.intro Вылет стрелы 8.2 м
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_035.png', alt='АМКОДОР 2641 Форвардер Вылет стрелы 8.2 м')
						h4.title АМКОДОР 2641
						p.massa Форвардер
						p.intro Вылет стрелы 8.2 м
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_036.png', alt='АМКОДОР 2661-01 Форвардер Вылет стрелы 8,2 м')
						h4.title АМКОДОР 2661-01
						p.massa Форвардер
						p.intro Вылет стрелы 8,2 м
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_037.png', alt='АМКОДОР 2662 Форвардер Вылет стрелы 8.2 м')
						h4.title АМКОДОР 2662
						p.massa Форвардер
						p.intro Вылет стрелы 8.2 м
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_038.png', alt='АМКОДОР 2682-01 Форвардер Вылет стрелы 8.2 м')
						h4.title АМКОДОР 2682-01
						p.massa Форвардер
						p.intro Вылет стрелы 8.2 м
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_039.png', alt='АМКОДОР 2243 Тягач трелевочный Вылет стрелы 6.3 м')
						h4.title АМКОДОР 2243
						p.massa Тягач трелевочный
						p.intro Вылет стрелы 6.3 м
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_040.png', alt='АМКОДОР 2242В Тягач трелевочный Тяговое усилие лебёдки 12.8 т')
						h4.title АМКОДОР 2242В
						p.massa Тягач трелевочный
						p.intro Тяговое усилие лебёдки 12.8 т
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_041.png', alt='АМКОДОР 2904 Измельчитель Производительность 132 м3/ч')
						h4.title АМКОДОР 2904
						p.massa Измельчитель
						p.intro
							| Производительность 132 м
							sup 3
							| /ч
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_042.png', alt='АМКОДОР 2311 Лесовозный полуприцеп Вылет манипулятора 8,5 м')
						h4.title АМКОДОР 2311
						p.massa Лесовозный полуприцеп
						p.intro Вылет манипулятора 8,5 м
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_043.png', alt='АМКОДОР 371АС Лесопогрузчик Ширина захвата 1.85 м')
						h4.title АМКОДОР 371АС
						p.massa Лесопогрузчик
						p.intro Ширина захвата 1.85 м
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='МАШИНЫ ЛЕСОПРОМЫШЛЕННОГО КОМПЛЕКСА') СДЕЛАТЬ ЗАКАЗ
