.proizvod__item.col-xs-12
	h3.proizvod__title
		span ЭЛЕМЕНТНАЯ БАЗА
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_067.png', alt='Съёмное рабочее оборудование')
						h4.title Съёмное рабочее оборудование
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_068.png', alt='Кабины')
						h4.title Кабины
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_069.png', alt='Мосты ведущие')
						h4.title Мосты ведущие
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_070.png', alt='ГМП')
						h4.title ГМП
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='ЭЛЕМЕНТНАЯ БАЗА') СДЕЛАТЬ ЗАКАЗ
