.proizvod__item.col-xs-12
	h3.proizvod__title
		span МАШИНЫ ДОРОЖНЫЕ
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_014.png', alt='АМКОДОР 20232 Землевоз')
						h4.title АМКОДОР 20232
						p.massa 24 т
						p.intro Землевоз
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_015.png', alt='АМКОДОР RD-165C Автогрейдер Мощьность двигателя 129 кВт')
						h4.title АМКОДОР RD-165C
						p.massa Автогрейдер
						p.intro Мощьность двигателя 129 кВт
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_016.png', alt='АМКОДОР 814 Экскаватор пневмоколёсный Объём ковша 0.65 м3')
						h4.title АМКОДОР 814
						p.massa Экскаватор пневмоколёсный
						p.intro
							| Объём ковша 0.65 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_017.png', alt='АМКОДОР 914 Экскаватор гусеничный Объём ковша 0.65 м3')
						h4.title АМКОДОР 914
						p.massa Экскаватор гусеничный
						p.intro
							| Объём ковша 0.65 м
							sup 3
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_018.png', alt='АМКОДОР 923 Экскаватор гусеничный Объём ковша 1 м3')
						h4.title АМКОДОР 923
						p.massa Экскаватор гусеничный
						p.intro
							| Объём ковша 1 м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_019.png', alt='АМКОДОР ЭТЦ-203 Экскаватор-дерноукладчик Глубина укладки трубы, не более 2 м')
						h4.title АМКОДОР ЭТЦ-203
						p.massa Экскаватор-дерноукладчик
						p.intro Глубина укладки трубы, не более 2 м
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_020.png', alt='АМКОДОР 6223В Каток вибрационный самоходный двухвальцовый Масса 2 700 кг')
						h4.title АМКОДОР 6223В
						p.massa Каток вибрационный самоходный двухвальцовый
						p.intro Масса 2 700 кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_021.png', alt='АМКОДОР 6222В Каток вибрационный самоходный двухвальцовый Масса 10 000 кг')
						h4.title АМКОДОР 6222В
						p.massa Каток вибрационный самоходный двухвальцовый
						p.intro Масса 10 000 кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_022.png', alt='АМКОДОР 6632 Каток вибрационный комбинированный самоходный Масса 9 000 кг')
						h4.title АМКОДОР 6632
						p.massa Каток вибрационный комбинированный самоходный
						p.intro Масса 9 000 кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_023.png', alt='АМКОДОР 6641 Каток вибрационный самоходный пневмошинный Масса 8 000—9 600 кг')
						h4.title АМКОДОР 6641
						p.massa Каток вибрационный самоходный пневмошинный
						p.intro Масса 8 000—9 600 кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_024.png', alt='АМКОДОР 6712В Каток вибрационный самоходный Масса 12 100 кг')
						h4.title АМКОДОР 6712В
						p.massa Каток вибрационный самоходный
						p.intro Масса 12 100 кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_025.png', alt='АМКОДОР 6811 Каток вибрационный самоходный Масса 16 000 кг')
						h4.title АМКОДОР 6811
						p.massa Каток вибрационный самоходный
						p.intro Масса 16 000 кг
		.row
			.col-xs-12
				.row
					.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_026.png', alt='АМКОДОР 6710 Каток вибрационный самоходный Масса 12 100 кг')
						h4.title АМКОДОР 6710
						p.massa Каток вибрационный самоходный
						p.intro Масса 12 100 кг
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='МАШИНЫ ДОРОЖНЫЕ') СДЕЛАТЬ ЗАКАЗ
