.proizvod__item.col-xs-12
	h3.proizvod__title
		span МАШИНЫ И КОМПЛЕКСЫ СЕЛЬСКОХОЗЯЙСТВЕННЫЕ
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_060.png', alt='АМКОДОР ССР-12 Смеситель раздатчик кормов самоходный Объём бункера 18 м3')
						h4.title АМКОДОР ССР-12
						p.massa Смеситель раздатчик кормов самоходный
						p.intro Объём бункера 18 м
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_061.png', alt='АМКОДОР 352С-02 Машина для трамбования силоса')
						h4.title АМКОДОР 352С-02
						p.massa 4,7 т
						p.intro Машина для трамбования силоса
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_062.png', alt='Комплекс зерноочистительно-сушильный Произв-ность 10, 20 т/ч')
						h4.title Комплекс зерноочистительно-сушильный
						p.intro Произв-ность 10, 20 т/ч
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_063.png', alt='Комплекс зерноочистительно-сушильный Произв-ность 30, 40 т/ч')
						h4.title Комплекс зерноочистительно-сушильный
						p.intro Произв-ность 30, 40 т/ч
		.row
			.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_064.png', alt='Комплекс зерноочистительно-сушильный Произв-ность 60, 100 т/ч')
						h4.title Комплекс зерноочистительно-сушильный
						p.intro Произв-ность 60, 100 т/ч
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_065.png', alt='Воздухонагреватель универсальный Тепловая мощьность от 1.5 до 2 МВт')
						h4.title Воздухонагреватель универсальный
						p.massa Тепловая мощьность
						p.intro от 1.5 до 2 МВт
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_066.png', alt='Воздухонагреватель универсальный Тепловая мощьность от 1.6 до 4 МВт')
						h4.title Воздухонагреватель универсальный
						p.massa Тепловая мощьность
						p.intro от 1.6 до 4 МВт
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='МАШИНЫ И КОМПЛЕКСЫ СЕЛЬСКОХОЗЯЙСТВЕННЫЕ') СДЕЛАТЬ ЗАКАЗ
