.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ С ТЕЛЕСКОПИЧЕСКОЙ СТРЕЛОЙ
			br
			|АМКОДОР 527
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_001.png', alt='')
						h4.title Ковш зерновой
							br
							|320.45.02.000
						div.intro
							dl
								dt 
								dd 
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_002.png', alt='')
						h4.title Ковш двухчелюстной
							br
							|527.52.00.000-Б
						div.intro
							dl
								dt 
								dd 
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_003.png', alt='')
						h4.title Захват
							br
							|527.59.21.000-А
						div.intro
							dl
								dt 
								dd 
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_004.png', alt='')
						h4.title Ковш с захватом
							br
							|527.57.00.000
						div.intro
							dl
								dt 
								dd 
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_005.png', alt='')
						h4.title Вилы с захватом
							br
							|527.54.00.000
						div.intro
							dl
								dt 
								dd 
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_006.png', alt='')
						h4.title Захват для рулонов
							br
							|АДЗ-527.45.31.000
						div.intro
							dl
								dt 
								dd 
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_007.png', alt='')
						h4.title Крюк грузовой
							br
							|527.56.00.000
						div.intro
							dl
								dt 
								dd 
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_008.png', alt='')
						h4.title Захват для рулонов
							br
							|527.53.00.000-Б1
						div.intro
							dl
								dt 
								dd 
		.row
			.col-lg-6.col-md-6.col-xs-12.col-md-offset-3
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_009.png', alt='')
						h4.title Вилы грузовые
							br
							|525.58.00.000
						div.intro
							dl
								dt 
								dd 
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/527/organs_010.png', alt='')
						h4.title Вилы универсальные
							br
							|527.55.00.000
						div.intro
							dl
								dt 
								dd 
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ С ТЕЛЕСКОПИЧЕСКОЙ СТРЕЛОЙ АМКОДОР 527') СДЕЛАТЬ ЗАКАЗ