.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНЫМ ПОГРУЗЧИКАМ
			br
			|АМКОДОР 332С4 И АМКОДОР 332С4-01
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_001.png', alt='')
						h4.title 
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_002.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_003.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_004.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_005.png', alt='')
						h4.title 
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_006.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_007.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_008.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_009.png', alt='')
						h4.title 
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_010.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_011.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_012.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_013.png', alt='')
						h4.title 
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_014.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_015.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_016.png', alt='')
						h4.title a
							br
							|a
						div.intro
							dl
								dt a
								dd a
		.row
			.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-sm-offset-4.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/332c4/organs_017.png', alt='')
						h4.title 
							br
							|a
						div.intro
							dl
								dt a
								dd a
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНЫМ ПОГРУЗЧИКАМ АМКОДОР 332С4 И АМКОДОР 332С4-01') СДЕЛАТЬ ЗАКАЗ