.proizvod__item.col-xs-12
	h3.proizvod__title
		span МАШИНЫ СНЕГОУБОРОЧНЫЕ
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_027.png', alt='АМКОДОР 9211А Снегоочиститель фрезерно-роторный Производительность 200 т/ч')
						h4.title АМКОДОР 9211А
						p.massa Снегоочиститель фрезерно-роторный
						p.intro Производительность 200 т/ч
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_028.png', alt='АМКОДОР 37 Машина погрузочная универсальная Производительность 300 м3/ч')
						h4.title АМКОДОР 37
						p.massa Машина погрузочная универсальная
						p.intro
							| Производительность 300 м
							sup 3
							| /ч
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_029.png', alt='АМКОДОР 38 Машина погрузочная универсальная Производительность 300 м3/ч')
						h4.title АМКОДОР 38
						p.massa Машина погрузочная универсальная
						p.intro
							| роизводительность 300 м
							sup 3
							| /ч
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_030.png', alt='АМКОДОР 9531-03 Снегоочиститель шнекороторный Производительность 1500 т/ч')
						h4.title АМКОДОР 9531-03
						p.massa Снегоочиститель шнекороторный
						p.intro Производительность 1500 т/ч
		.row
			.col-xs-12
				.row
					.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_031.png', alt='АМКОДОР 9463 Машина аеродромная уборочная универсальная Производительность 7,5-19 га/ч с полосы в 60 м')
						h4.title АМКОДОР 9463
						p.massa Машина аеродромная уборочная универсальная
						p.intro Производительность 7,5-19 га/ч с полосы в 60 м
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='МАШИНЫ СНЕГОУБОРОЧНЫЕ') СДЕЛАТЬ ЗАКАЗ
