.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ
			br
			|АМКОДОР 330СЕ
		.row(style="margin-bottom: 40px;")
			.col-lg-12.col-md-12.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-sm-offset-4.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_01/organs_001.png', alt='')
						h4.title Вилы грузовые
							br
							|330СЕ.45.43.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 3000кг
							dl
								dt Ширина расположения вил, мм
								dd 270-990
							dl
								dt Шаг перемещения вил
								dd 40мм
							dl
								dt Габариты, мм
								dd 1710х1110х890
							dl
								dt Масса
								dd 295кг
		h3.semob.text-center
			|СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К ВИЛОЧНОМУ ПОГРУЗЧИКУ
			br
			|АМКОДОР 451А
		.row(style="margin-bottom: 40px;")
			.col-lg-12.col-md-12.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_01/organs_002.png', alt='')
						h4.title Штырь
							br
							|451А.51.00.000
						div.intro
							dl
								dt Расстояние от верхней кромки штыря до пола
								dd 500мм
							dl
								dt Длина
								dd 2200мм
							dl
								dt Габариты, мм
								dd 2265х600х770
							dl
								dt Масса
								dd 300кг
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_01/organs_003.png', alt='')
						h4.title Стрела крановая
							br
							|451А.52.00.000-Б
						div.intro
							dl
								dt Грузоподъёмность при мин/сред/макс вылете крюка, мм
								dd 5000/3900/2500
							dl
								dt Габариты, мм
								dd 1452х610х1685
							dl
								dt Масса
								dd 275кг
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-md-offset-0.col-sm-offset-4.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_01/organs_004.png', alt='')
						h4.title Удлинитель вил
							br
							|451А.53.00.000
						div.intro
							dl
								dt Габариты, мм
								dd 2300х230х190
							dl
								dt Масса
								dd 90кг
		h3.semob.text-center
			|СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К ФРОНТАЛЬНЫМ ПОГРУЗЧИКАМ
			br
			|АМКОДОР 332В и АМКОДОР 333В
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_01/organs_005.png', alt='')
						h4.title Вилы грузовые
							br
							|ТО-18Б.29.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 3000кг
							dl
								dt Ширина по опорным лапам, мм
								dd 310-1190
							dl
								dt Шаг перемещения лап
								dd 40
							dl
								dt Габариты, мм
								dd 2010х1240х1080
							dl
								dt Масса
								dd 520кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_01/organs_006.png', alt='')
						h4.title Отвал для снега
							br
							|ТО-18Б.32.00.000
						div.intro
							dl
								dt Ширина очищаемой полосы
								dd 2660мм
							dl
								dt Угол поворота отвала, градус
								dd 15, 30
							dl
								dt Управление поворотом отвала
								dd механическое
							dl
								dt Габариты, мм
								dd 1220х3250х1220
							dl
								dt Масса
								dd 1100кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_01/organs_007.png', alt='')
						h4.title Стрела крановая безблочная
							br
							|ТО-18Б.25.00.000
						div.intro
							dl
								dt Грузоподъёмность при мин/сред/макс вылете крюка, кг
								dd 1200/1500/2000
							dl
								dt Габариты, мм
								dd 3850х1216х665
							dl
								dt Масса
								dd 310кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_01/organs_008.png', alt='')
						h4.title Отвал бульдозерный
							br
							|ТО-18Б.52.00.000
						div.intro
							dl
								dt Заглубление
								dd 150мм
							dl
								dt Габариты, мм
								dd 500х2620х1150
							dl
								dt Масса
								dd 830кг
			
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ АМКОДОР 330СЕ, 332В, 333В, 451А') СДЕЛАТЬ ЗАКАЗ