.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К ФРОНТАЛЬНОМУ ПОГРУЗЧИКУ
			br
			|АМКОДОР 342В и АМКОДОР 352
		.row(style="margin-bottom: 40px;")
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_001.png', alt='')
						h4.title Вилы грузовые
							br
							|ТО-28.60.07.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 4000кг
							dl
								dt Ширина по опорным лапам, мм
								dd 310-1190
							dl
								dt Шаг перемешения лап
								dd 40мм
							dl
								dt Габариты, мм
								dd 2010х1240х1080
							dl
								dt Масса
								dd 520кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_002.png', alt='')
						h4.title Отвал для снега
							br
							|ТО-28А.32.00.000
						div.intro
							dl
								dt Ширина очищаемой полосы
								dd 2660мм
							dl
								dt Угол поворота отвала, градус
								dd 30
							dl
								dt Управление поворотом отвала
								dd механическое
							dl
								dt Габариты, мм
								dd 1480х3250х1230
							dl
								dt Масса
								dd 1100кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_003.png', alt='')
						h4.title Стрела крановая безблочная
							br
							|ТО-28.60.06.000
						div.intro
							dl
								dt Грузоподъёмность при мин/сред/макс вылете крюка, кг
								dd 2000/1500/1200
							dl
								dt Габариты, мм
								dd 3850х1216х665
							dl
								dt Масса
								dd 360кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_004.png', alt='')
						h4.title Отвал бульдозерный
							br
							|ТО-28А.61.00.000
						div.intro
							dl
								dt Заглубление
								dd 150мм
							dl
								dt Габариты, мм
								dd 500х2620х1130
							dl
								dt Масса
								dd 825кг
	.proizvod__item__wrapper
		h3.semob.text-center
			|СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К ФРОНТАЛЬНОМУ ПОГРУЗЧИКУ
			br
			|АМКОДОР 352Л, АМКОДОР 352Л-01 и АМКОДОР 352Л-02
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_009.png', alt='')
						h4.title Отвал для снега
							br
							|342С.52.00.000
						div.intro
							dl
								dt Ширина очищаемой полосы (повёрнуто)
								dd 2660мм
							dl
								dt Угол поворота отвала, градус
								dd 35
							dl
								dt Управление поворотом отвала
								dd гидравлическое
							dl
								dt Габариты, мм
								dd 1330х3250х1230
							dl
								dt Масса
								dd 1100кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_010.png', alt='')
						h4.title Захват челюстной
							br
							|342С.55.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 6000кг
							dl
								dt Диаметр охвата, мм
								dd 600-1100
							dl
								dt Габариты, мм
								dd 1570х2450х1620
							dl
								dt Масса
								dd 1350кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_011.png', alt='')
						h4.title Захват челюстной с выталкивателем
							br
							|342С.65.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 6000кг
							dl
								dt Диаметр охвата, мм
								dd 200-1300
							dl
								dt Габариты, мм
								dd 1950х1460х1860
							dl
								dt Масса
								dd 1560кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_012.png', alt='')
						h4.title Захват челюстной
							br
							|342C.66.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 6000кг
							dl
								dt Диаметр охвата, мм
								dd 200-1300
							dl
								dt Габариты, мм
								dd 1950х1460х1860
							dl
								dt Масса
								dd 1270кг
								dd 1270кг
		.row
			.col-lg-12.col-md-12.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-sm-offset-4.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/min_02/organs_008.png', alt='')
						h4.title Отвал бульдозерный
							br
							|342С.59.00.000
						div.intro
							dl
								dt Максимальное заглубление
								dd 150мм
							dl
								dt Габариты, мм
								dd 500х2620х1150
							dl
								dt Масса
								dd 770кг
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='СМЕННЫЕ РАБОЧИЕ ОРГАНЫ К ФРОНТАЛЬНЫМ ПОГРУЗЧИКАМ АМКОДОР 342В, 352, 352Л, 352Л-02, 352Л-01') СДЕЛАТЬ ЗАКАЗ