.proizvod__item.col-xs-12
	h3.proizvod__title
		span ПРОДУКЦИЯ ХОЛДИНГА «САЛЕО»
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_071.png', alt='Насосы-дозаторы')
						h4.title Насосы-дозаторы
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_072.png', alt='Гидро-распределители')
						h4.title Гидро-распределители
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_073.png', alt='Аксиально-поршневые гидромашины')
						h4.title Аксиально-поршневые гидромашины
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_074.png', alt='Гидроблоки')
						h4.title Гидроблоки
			.row
				.col-lg-6.col-md-6.col-md-offset-3.col-xs-12
					.row
						.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
							img(src='assets/templates/leadingpage/images/proizvod/img_075.png', alt='Клапаны')
							h4.title Клапаны
						.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
							img(src='assets/templates/leadingpage/images/proizvod/img_076.png', alt='Рукава высокого давления')
							h4.title Рукава высокого давления
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='ПРОДУКЦИЯ ХОЛДИНГА «САЛЕО»') СДЕЛАТЬ ЗАКАЗ
