.proizvod__item.col-xs-12
	h3.proizvod__title
		span МАШИНЫ ТОРФОДОБЫВАЮЩЕГО КОМПЛЕКСА
	.proizvod__item__wrapper
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_056.png', alt='АМКОДОР 342Р Погрузчик торфа Объём ковша 4-4.2м3')
						h4.title АМКОДОР 342Р
						p.massa Погрузчик торфа
						p.intro
							| Объём ковша 4-4.2м
							sup 3
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_057.png', alt='АМКОДОР 42-10 Полувагон для торфа Грузоподъёмность 12.8 т')
						h4.title АМКОДОР 42-10
						p.massa Полувагон для торфа
						p.intro Грузоподъёмность 12.8 т
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_058.png', alt='АМКОДОР 30 Машина штабелирующая Мощьность двигателя 60 кВч')
						h4.title АМКОДОР 30
						p.massa Машина штабелирующая
						p.intro Мощьность двигателя 60 кВч
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/img_059.png', alt='АМКОДОР АТУ-20 Машина для уборки фрезерного торфа Объём бункера 23 м3')
						h4.title АМКОДОР АТУ-20
						p.massa Машина для уборки фрезерного торфа
						p.intro
							| Объём бункера 23 м
							sup 3
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='МАШИНЫ ТОРФОДОБЫВАЮЩЕГО КОМПЛЕКСА') СДЕЛАТЬ ЗАКАЗ
