.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|Быстросменные рабочие органы к универсальным погрузчикам с бортовым поворотом
			br
			|АМКОДОР 211 и АМКОДОР 211Е
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_001.png', alt='')
						h4.title Крюк монтажный
							br
							|ДЗ-133.18.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 600кг
							dl
								dt Габариты, мм
								dd 1060x1030x1505
							dl
								dt Масса
								dd 85кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_002.png', alt='')
						h4.title Отвал V-образный для снега
							br
							|АДЗ-211.46.61.000
						div.intro
							dl
								dt Ширина очищаемой полосы, мм
								dd 1990-2350
							dl
								dt Угол поворота крыльев
									br
									|отвала, градус
								dd 30
							dl
								dt Управление
								dd гидравлическое
							dl
								dt Масса
								dd 570кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_003.png', alt='')
						h4.title Гидромолот
							br
							|211.45.91.010
						div.intro
							dl
								dt Энергия удара
								dd 480Дж
							dl
								dt Частота ударов
								dd 550-1200уд/мин
							dl
								dt Габариты
								dd 1620x1030x770
							dl
								dt Масса
								dd 270кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_004.png', alt='')
						h4.title Снегоочиститель фрезерно-роторный
							br
							|АДЗ-211.46.55.000
						div.intro
							dl
								dt Ширина захвата
								dd 2030мм
							dl
								dt Высота убираеиого слоя снега
								dd 300мм
							dl
								dt Дальность отброса снега
								dd 5м
							dl
								dt Габариты, мм
								dd 1320x2030x1850
							dl
								dt Масса
								dd 510кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_005.png', alt='')
						h4.title Отвал для снега
							br
							|211.45.63.000
						div.intro
							dl
								dt Ширина очищаемой полосы
									br
									| (прямо/повёрнуто), мм
								dd !2640/2290
							dl
								dt Угол поворота отвала, градус
								dd 30
							dl
								dt Управление поворотом отвала
								dd механическое
							dl
								dt Габариты, мм
								dd 850x2640x760
							dl
								dt Масса
								dd 280кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_006.png', alt='')
						h4.title Захват челюстной
							br
							|208.46.41.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 800кг
							dl
								dt Габариты, мм
								dd 800x1740x710
							dl
								dt Масса
								dd 200кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_007.png', alt='')
						h4.title Вилы грузовые
							br
							|ДЗ-133.12.00.000-01
						div.intro
							dl
								dt Грузоподъёмность
								dd 800кг
							dl
								dt Габариты, мм
								dd 1020x1100x630
							dl
								dt Масса
								dd 180кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_008.png', alt='')
						h4.title Захват вильчатый
							br
							|208.46.38.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 800кг
							dl
								dt Ширина захвата 1265мм
								dd 
							dl
								dt Габариты, мм
								dd 1310x1320x870
							dl
								dt Масса
								dd 243кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_009.png', alt='')
						h4.title Оборудование экскаваторное
							br
							|208В.70.00.000
						div.intro
							dl
								dt Вместимость ковша
								dd 0,07м
									sup 3
							dl
								dt Глубина копания
								dd 2600мм
							dl
								dt Максимальная высота разгрузки
								dd 2400мм
							dl
								dt Габариты, мм
								dd 2436x2338x1520
							dl
								dt Масса
								dd 900кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_010.png', alt='')
						h4.title Щетка в сборе
							br
							|208.46.07.010-01
						div.intro
							dl
								dt Ширина очищаемой полосы (прямо/повёрнуто)
								dd 1900мм/1650мм
							dl
								dt Угол поворота щётки, градус
								dd 30
							dl
								dt Управление поворотом
								dd механическое
							dl
								dt Габариты, мм
								dd 1190x2320x785
							dl
								dt Масса
								dd 320кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_011.png', alt='')
						h4.title Скалыватель льда
							br
							|211.45.65.000
						div.intro
							dl
								dt Грузоподъёмность (конфигурация с крюком)
								dd 600кг
							dl
								dt Высота подъёма по крюку
								dd 3100мм
							dl
								dt Габариты, мм
								dd 1510x1030x680
							dl
								dt Масса
								dd 140кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_012.png', alt='')
						h4.title Ковш с увеличенной высотой разгрузки
							br
							|211.45.02.000
						div.intro
							dl
								dt Вместимость ковша
								dd 0,7м
									sup 3
							dl
								dt Удельный вес погружаемого материала, (не более)
								dd 1400кг/м
									sup 3
							dl
								dt Габариты, мм
								dd 1035x2225x585
							dl
								dt Масса
								dd 410кг
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_013.png', alt='')
						h4.title Отвал
							br
							|ДЗ-133.16.00.000
						div.intro
							dl
								dt Максимальное заглубление
								dd 100мм
							dl
								dt Габариты, мм
								dd 850x2100x750
							dl
								dt Масса
								dd 187кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_014.png', alt='')
						h4.title Отвал бульдозерный поворотный
							br
							|208.46.07.010
						div.intro
							dl
								dt Ширина очищаемой полосы
								dd 2100мм
							dl
								dt Угол поворота отвала, градус
								dd 30
							dl
								dt Габариты, мм
								dd 825x2100x750
							dl
								dt Масса
								dd 250кг
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_015.png', alt='')
						h4.title Бур
							br
							|208.46.37.000
						div.intro
							dl
								dt Максимальная глубина бурения
								dd 1500мм
							dl
								dt Диаметр бурения
								dd 250мм
							dl
								dt Габариты, мм
								dd 2600x1030x650
							dl
								dt Масса
								dd 215кг
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_016.png', alt='')
						h4.title Захват бардюрного камня
							br
							|208.46.56.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 100кг
							dl
								dt Габариты, мм
								dd 480x500x823
							dl
								dt Масса
								dd 15кг
		.row
			.col-xs-12
				.row
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_017.png', alt='')
						h4.title Вилы сельскохозяйственные
							br
							|ДЗ-133.13.00.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 800кг
							dl
								dt Ширина по осям боковых польцев
								dd 1240мм
							dl
								dt Габариты, мм
								dd 1160x1320x570
							dl
								dt Масса
								dd 115кг
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_018.png', alt='')
						h4.title Бетоносмеситель гравитационный
							br
							|208.46.35.000
						div.intro
							dl
								dt Объём по загрузке
								dd 375л
							dl
								dt Объём по загрузке
								dd 375л
							dl
								dt Объём замеса
								dd 250л
							dl
								dt Габариты, мм
								dd 1605x1030x965
							dl
								dt Масса
								dd 200кг
					.col-lg-4.col-md-4.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/211/organ_211_019.png', alt='')
						h4.title Захват рулонов
							br
							|208.46.39.000
						div.intro
							dl
								dt Грузоподъёмность
								dd 500кг
							dl
								dt Диаметр захватываемого груза, (min/max) мм
								dd 1100/1530
							dl
								dt Габариты, мм
								dd 1900x1420x600
							dl
								dt Масса
								dd 170кг
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К АМКОДОР 211 и АМКОДОР 211Е') СДЕЛАТЬ ЗАКАЗ
