div.block__svoyamkodor
	div.block__svoyamkodor__wrapper
		div.container-fluid
			div.row.block__title__tail.text-center
				h2.block__title.text-uppercase.color__c0.col-xs-12
					|Выбери свой АМКОДОР
		div.block__svoyamkodor__wrapper__items
			div.container-fluid
				div.col-lg-3.col-md-3.col-sm-6.col-xs-12.block__svoyamkodor__wrapper__item
					div.block__svoyamkodor__price
						div.dropdown
							h2.hidden
								|Фронтальные и универсальные погрузчики
							img.dropdown-toggle(data-toggle="dropdown" src="assets/templates/leadingpage/images/amkodor_item_01.png" alt="Фронтальные и универсальные погрузчики")
							div.dropdown-menu
								div.dropdown__wrapper
									strong
										|Грузоподъемность:
									ul.dropdown__wrapper__list
										li
											|Фронтальные погрузчики: от 3,4 до 7 тн
										li
											|Универсальные погрузчики: от 2 до 7 тн
									strong
										|Преимущества:
									ul.dropdown__wrapper__list
										li
											|Возможность быстрой замены рабочего органа
										li
											|вместе с быстросменными рабочими органами представляют собой комплексы высокопроизводительного оборудования, способные в любое время года быстро, качественно и эффективно осуществлять множество работ в гражданском и дорожном строительстве, коммунальных службах, сельском и лесном хозяйстве
									div.block__svoyamkodor__price__buttons.text-center
										button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ ФРОНТАЛЬНЫЙ ПОГРУЗЧИК")
											|ЗАКАЗАТЬ
					div.block__svoyamkodor__buttons
						div.block__button.text-center
							button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ ФРОНТАЛЬНЫЙ ПОГРУЗЧИК")
								|ЗАКАЗАТЬ
				div.col-lg-3.col-md-3.col-sm-6.col-xs-12.block__svoyamkodor__wrapper__item
					div.block__svoyamkodor__price
						div.dropdown
							h2.hidden
								|Машины лесопромышленного комплекса «АМКОДОР»
							img.dropdown-toggle(data-toggle="dropdown" src="assets/templates/leadingpage/images/amkodor_item_02.png" alt="Машины лесопромышленного комплекса «АМКОДОР»")
							div.dropdown-menu
								div.dropdown__wrapper
									p
										|Харвестеры, форвардеры, тягачи трелевочные, измельчители и различные лесохозяйственные машины.
									strong
										|Преимущества:
									p
										|Просты в эксплуатации, надежны, быстро окупаемы и имеют очень конкурентную цену.
									div.block__svoyamkodor__price__buttons.text-center
										button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ ТЕЛЕСКОПИЧЕСКИЙ ПОГРУЗЧИК")
											|ЗАКАЗАТЬ
					div.block__svoyamkodor__buttons
						div.block__button.text-center
							button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ ТЕЛЕСКОПИЧЕСКИЙ ПОГРУЗЧИК")
								|ЗАКАЗАТЬ
				div.col-lg-3.col-md-3.col-sm-6.col-xs-12.block__svoyamkodor__wrapper__item
					div.block__svoyamkodor__price
						div.dropdown
							h2.hidden
								|Мини-погрузчики с бортовым поворотом
							img.dropdown-toggle(data-toggle="dropdown" src="assets/templates/leadingpage/images/amkodor_item_03.png" alt="Мини-погрузчики с бортовым поворотом")
							div.dropdown-menu
								div.dropdown__wrapper
									strong
										|Преимущества:
									ul.dropdown__wrapper__list
										li
											|Грузоподъемность 1200 кг
										li
											|Предназначены для механизации погрузочно-разгрузочных и выполнения землеройно-транспортных работ, выполнения складских работ со штабелируемыми грузами, очистки дорог от мусора и снега, ухода за территориями, а также для выполнения различных специальных и вспомогательных работ
										li
											|Возможность быстрой замены рабочего органа.
									div.block__svoyamkodor__price__buttons.text-center
										button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ МИНИ-ПОГРУЗЧИК С БОРТОВЫМ ПОВОРОТОМ")
											|ЗАКАЗАТЬ
					div.block__svoyamkodor__buttons
						div.block__button.text-center
							button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ МИНИ-ПОГРУЗЧИК С БОРТОВЫМ ПОВОРОТОМ")
								|ЗАКАЗАТЬ
				div.col-lg-3.col-md-3.col-sm-6.col-xs-12.block__svoyamkodor__wrapper__item
					div.block__svoyamkodor__price
						div.dropdown
							h2.hidden
								|Другая техника «АМКОДОР»
							img.dropdown-toggle(data-toggle="dropdown" src="assets/templates/leadingpage/images/amkodor_item_04.png" alt="Другая техника «АМКОДОР»")
							div.dropdown-menu
								div.dropdown__wrapper
									p
										|Производственный план холдинга «АМКОДОР» включает в себя широкую линейку дорожно-строительной, лесозаготовительной, сельскохозяйственной, складской и другой техники.
									div.block__svoyamkodor__price__buttons.text-center
										button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ ИЗ ДРУГОЙ ТЕХНИКИ «АМКОДОР»")
											|ЗАКАЗАТЬ
					div.block__svoyamkodor__buttons
						div.block__button.text-center
							button.btn.btn-primary.button-zvonok(type="button" data-api="ЗАКАЗАТЬ ИЗ ДРУГОЙ ТЕХНИКИ «АМКОДОР»")
								|ЗАКАЗАТЬ
				div.clearfix
				div.block__svoyamkodor__site.clearfix.text-center
					h2.block__svoyamkodor__site__title.one
						|Хотите получить качественную технику АМКОДОР с завода?
					h3.block__svoyamkodor__site__title.two
						|Обращайтесь только к эксклюзивному дилеру АМКОДОР в Пермском крае
						br
						|ООО «СКАТ»
				div.col-xs-12
					button.btn.btn-success.button-zvonok.all(type="button" data-api="ЗАКАЗАТЬ ЗВОНОК")
						|ЗАКАЗАТЬ ЗВОНОК
				div.clearfix
	div.clearfix