.proizvod__item.col-xs-12
	.proizvod__item__wrapper
		h3.semob.text-center
			|
			br
			|
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/342c4/organs_001.png', alt='')
						h4.title 
							br
							|
						div.intro
							dl
								dt 
								dd 
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/342c4/organs_002.png', alt='')
						h4.title 
							br
							|
						div.intro
							dl
								dt 
								dd 
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/342c4/organs_003.png', alt='')
						h4.title 
							br
							|
						div.intro
							dl
								dt 
								dd 
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.proizvod__item__block
						img(src='assets/templates/leadingpage/images/proizvod/342c4/organs_004.png', alt='')
						h4.title 
							br
							|
						div.intro
							dl
								dt 
								dd 
		.row
			.col-xs-12
				.block__button.text-center
					button.btn.btn-primary.button-zvonok(type='button', data-api='БЫСТРОСМЕННЫЕ РАБОЧИЕ ОРГАНЫ К УНИВЕРСАЛЬНОМУ ПОГРУЗЧИКУ АМКОДОР 342С4') СДЕЛАТЬ ЗАКАЗ