script(async src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" onload="mapYandexInit()")
noindex
	script(type="text/javascript")
		include yandex.js
	noscript
		div
			img(src="//mc.yandex.ru/watch/34679575" style="position:absolute; left:-9999px" alt="")